.header_back {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.header_back_label {
    margin-right: 0.5em;
    color: var(--text-color-secondary);
}